Flask==1.0.2
Flask-RESTful==0.3.6
Jinja2==2.10
chardet==2.3.0
click==6.7
colorama==0.3.2
html5lib==0.999
python-apt==0.9.3.12
recordtype==1.1
requests==2.4.3
urllib3==1.26.5
urlparse2==1.1.1
urlpath==1.1.4
